<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Referees</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<body>
		<a href="/matchlist">Matches</a>
		<br> <br>
		<a href="/addreferee">Add referees</a>
		<br>		
		<div>
			<br>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out"/>
			</form>
			<br>
		</div>

			<table>
				<tr>
					<th>Available Referees</th>
				</tr>
			<tbody>
				<tr th:each = "referee : ${referees}">

					<td th:text="${referee.name}"></td>

 					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletereferee/{refereeId}(refereeId=${referee.refereeId})}">Delete</a></td>					
                    <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editreferee/{refereeId}(refereeId=${referee.refereeId})}">Edit</a></td> 
					
				</tr>
			</tbody>
		</table>
		
	</body>

</html>
